body,
html {
  margin: 0;
  padding: 0;
}

.gameboard-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 100px auto auto 80px auto 50px 200px;
  grid-template-columns: auto auto 100px;
  grid-template-areas:
    "other-player-cards other-player-cards other-player-cards"
    "slot10             slot11             other-player-info"
    "slot20             slot21             other-player-wins"
    "slot30             slot31             hokm"
    "slot40             slot41             player-wins"
    "player-action      player-action      player-info"
    "player-cards       player-cards       player-cards";
}

.other-player-cards {
  grid-area: other-player-cards;
  display: flex;
  justify-self: center;
}

.other-player-info {
  grid-area: other-player-info;
  background-color: aquamarine;
}

.other-player-wins {
  grid-area: other-player-wins;
}

.hokm {
  grid-area: hokm;
}

.hokm .hokm-symbol {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
}

.player-wins {
  grid-area: player-wins;
}

.player-action {
  grid-area: player-action;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.player-info {
  grid-area: player-info;
  background-color: bisque;
}

.player-cards {
  grid-area: player-cards;
  display: flex;
  justify-self: center;
  align-self: end;
  width: 100vw;
}

.choose-hokm-button {
  width: 120px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  color: white;
  align-self: center;
  margin: auto;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}

.choose-hokm-button:hover {
  box-shadow: 0 0 10px black;
}

.choose-hokm-spades {
  grid-area: 3 / 1;
  background-color: black;
}

.choose-hokm-hearts {
  grid-area: 3 / 2;
  background-color: #ff5554;
}
.choose-hokm-diamonds {
  grid-area: 4 / 1;
  background-color: #ff5554;
}

.choose-hokm-clubs {
  grid-area: 4 / 2;
  background-color: black;
}

.card-to-accept-refuse {
  grid-area: 2 / 1 / span 3 / span 2;
}

.accept-card {
  grid-area: 5 / 1;
}

.refuse-card {
  grid-area: 5 / 2;
}

.played-cards {
  grid-area: 3 / 1 / span 3 / span 2;
}

.card-drawer {
  background-image: url("deck.png");
  width: 150px;
  height: 220px;
  display: inline-block;
  transform: scale(0.72);
  transform-origin: bottom left;
}

.card {
  width: min(7vw, 70px);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-form h2 {
  margin-top: 0;
  margin-bottom: 100px;
}

.login-form input {
  margin-bottom: 50px;
}

.totally-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes circular-progress {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circular {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  border-bottom: none;
  border-left: none;
  animation: circular-progress 1s linear infinite;
}

.crown-mark {
  margin: 0;
}

.player-info,
.other-player-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px 0 0 5px;
  box-shadow: -1px 1px 5px black;
}
