body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gameboard-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 100px 50px 1fr 50px 1fr 50px 150px;
  grid-template-columns: auto auto 100px;
  grid-template-areas:
    "other-player-cards other-player-cards other-player-cards"
    "slot10             slot11             other-player-info"
    "slot20             slot21             other-player-wins"
    "slot30             slot31             hokm"
    "slot40             slot41             player-wins"
    "player-action      player-action      player-info"
    "player-cards       player-cards       player-cards";
}

.other-player-cards {
  grid-area: other-player-cards;
  display: flex;
  justify-self: center;
}

.other-player-info {
  grid-area: other-player-info;
  background-color: aquamarine;
}

.other-player-wins {
  grid-area: other-player-wins;
  margin-top: 10px;
}

.hokm {
  grid-area: hokm;
}

.hokm .hokm-symbol {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
}

.player-wins {
  grid-area: player-wins;
  align-self: end;
  margin-bottom: 10px;
}

.player-action {
  grid-area: player-action;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 13px;
  align-self: center;
}

.player-info {
  grid-area: player-info;
  background-color: bisque;
}

.player-cards {
  grid-area: player-cards;
  display: flex;
  justify-self: center;
  align-self: end;
  width: 100vw;
}

.choose-hokm-button {
  border: none;
  display: flex;
  align-items: center;
  color: white;
  align-self: center;
  margin: auto;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}

.choose-hokm-button:hover {
  box-shadow: 0 0 10px black;
}

.choose-hokm-spades {
  grid-area: 3 / 1;
  background-color: black;
}

.choose-hokm-hearts {
  grid-area: 3 / 2;
  background-color: #ff5554;
}
.choose-hokm-diamonds {
  grid-area: 4 / 1;
  background-color: #ff5554;
}

.choose-hokm-clubs {
  grid-area: 4 / 2;
  background-color: black;
}

.card-to-accept-refuse {
  grid-area: 2 / 1 / span 3 / span 2;
  align-self: center;
  margin: auto;
}

.accept-card {
  grid-area: 5 / 1;
  background-color: darkgreen;
  color: white;
}

.refuse-card {
  grid-area: 5 / 2;
  background-color: red;
  color: white;
}

.winner-announcer {
  grid-area: slot10;
  margin: auto;
}

.played-cards {
  grid-area: 3 / 1 / span 3 / span 2;
  display: flex;
  align-self: center;
  margin: auto;
}

.card-drawer {
  background-image: url("deck.png");
  width: 102px;
  height: 150px;
  display: inline-block;
  background-size: 1350px;
}

.card {
  width: min(7vw, 70px);
  scale: 0.72;
  transform-origin: bottom left;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-form h2 {
  margin-top: 0;
  margin-bottom: 100px;
}

.login-form input {
  margin-bottom: 50px;
}

.totally-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes circular-progress {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circular {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  border-bottom: none;
  border-left: none;
  animation: circular-progress 1s linear infinite;
}

.crown-mark {
  margin: 0;
}

.player-info,
.other-player-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px 0 0 5px;
  box-shadow: -1px 1px 5px black;
}

.drop-cards-button {
  grid-area: slot20;
  background-color: yellowgreen;
}

.action-button {
  align-self: center;
  width: 100px;
  margin: auto;
  border: none;
  box-shadow: 0 0 2px black;
  cursor: pointer;
  padding: 10px;
}

.action-button:hover {
  box-shadow: 0 0 10px black;
}

.action-button[disabled] {
  box-shadow: none;
  cursor: default;
  background-color: gray;
  opacity: 0.28;
}

.action-button[disabled]:hover {
  box-shadow: none;
}

.live-indicator {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.game-finish-stater {
  grid-area: slot30;
  justify-content: center;
  align-items: center;
  margin: auto;
}
